<h1>Butter Music Library</h1>

<h3><%= link_to "Upload Tracks", new_track_path %></h3>

<h3><%= link_to "RSS", formatted_tracks_path("rss") %></h3>

<!-- <% form_tag tracks_path, :method => 'get' do %>
  <%= text_field_tag :search, @search %>
<% end %> -->

<p>
  <%= will_paginate @tracks, :params => {:search => @search}%>
</p>

<% form_tag edit_multiple_tracks_path do %>
  <table id="tracks_container" class="content alternating tablesorter" summary="Butter Feed Track Listing">
    <thead>
      <th>
        <input type="checkbox" id="all">
      </th>
      <th>
        Title
      </th>
      <th>
        Artist
      </th>
      <th>
        Composer
      </th>
      <th>
        Album
      </th>
      <th>
        Genre
      </th>
      <th>
      </th>
    </thead>
    <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td>
          <%= check_box_tag "track_ids[]", track.id, false, :onchange => "toggleButtons();" %>
        </td>
        <td>
          <%= link_to track.title, track_path(track) %>
        </td>
        <td>
          <%= track.artist %>
        </td>
        <td>
          <%= track.composer %>
        </td>
        <td>
          <%= track.grouping %>
        </td>
        <td>
          <%= track.genre %>
        </td>
        <td>
          <%= link_to "Edit", edit_track_path(track) %> | 
          <%= link_to "Delete", track_path(track), :confirm => "Are you sure?", :method => :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <p>
      <%= submit_tag "Group Edit Selected", :id => "group_edit_button" %> <%= submit_tag "Delete Selected", :id => "group_delete_button" %>
    </p>
  </div>
  
  <p>
    <%= will_paginate @tracks, :params => {:search => @search}%>
  </p>
  
<% end %>
